* {
	margin: 0;
	box-sizing: border-box;
}

body {
	background: url(../img/bg_full.jpg) center top;
}


.head {
	width: 100%;
	.head_logo {
		display: inline-block;
		padding: 40px 0px 40px 350px;
		.logo {
			font-size: 118px;
			color: #b7bbbc;
		}
	}
	.head_menu {
		float: right;
		margin: 100px 255px 0 0;
		ul {
			list-style: none;
			li {
				display: inline-block;
				width: 125px;
				height: 40px;
				a {
					line-height: 18px;
					display: block;
					margin-right: -5px;
					text-decoration: none;
					color: #fff;
					font-size: 22.5px;
				}
				a:hover {
					font-size: 28px;
				}
			}
		}
	}
}

.carousel {
	display: flex;
	align-items: center;
	margin: 0 auto;
	width: 1280px;
	padding: 0 80px;
	position: relative;
		img {
			margin-top: -140px;
		}
	.slick_section_bg {
		width: 100%;
		height: 90px;
		background-color: #fff;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
	}
	.slick {
		height: 380px;
		margin: 0 auto;
		width: 1024px;
		overflow: hidden;
		.slick_section {
			display: inline-block;
			padding-left: 100px;
			img {
				margin-top: 0;
				float: left;
				width: 330px;
				height: 335px;
			}
			.slick_section_text {
				display: inline-block;
				margin-left: 85px;
				color: #fff;
				h1 {
					margin-top: 70px;
					font-size: 50px;
				}
				p {
					font-size: 40px;
				}
				.btn {
					margin-top: 30px;
					background-color: #175b3b;
					width: 135px;
					height: 40px;
					line-height: 30px;
					border: 4px solid #2f3131;
					border-radius: 4px;
					text-align: center;
				}
				.btn:hover {
					background-color: #4c6383;
				}
			}
		}
	}
}

.acordeon {
	width: 1280px;
	margin: 0 auto ;
	background-color: #fff;
	display: flex;
	position: relative;
	justify-content: center;
	.acordeon_item {
		display: inline-block;
		.acordeon_item_btn {
			margin-top: -20px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			width: 250px;
			height: 250px;
			border-bottom:  2px solid #dedede;
		}
		.acordeon_item_text {
			height: 775px;
			background-color: #fff;
			position: absolute;
			left: 140px;
			display: none;
			width: 1000px;
			border: 2px solid #dedede;
			border-top: none;
			padding: 50px;
			img {
				position: relative;
				left: 50%;
				transform: translate(-50%);
			}
		}
	}
	.acordeon_item.open .acordeon_item_text {
		display: block;
	}
	.acordeon_item.open .acordeon_item_btn {
		border: 2px solid #dedede;
		border-bottom: none;
	}
}

.whyUs {
	margin: 785px auto 0;
	width: 1000px;
	clear: both;
	.whyUs_container {
		width: 50%;
		float: left;
	}
	.screen {
		img {
			margin-left: -15px;
		}
	}
	.about {
		h1 {
			color: #4f4f4f;
			font-size: 32,63px; 
			line-height: 85px;
		}
		p {
			font-size: 16px;
			color: #8a8888;
			line-height: 38px;
			img {
				margin: 0 10px -4px 0;
			}
		}
	}
}

.input {
	clear: both;
	width: 1000px;
	margin: 0 auto;
	.input_container {
		float: left;
	}
	.login, .mail {
		width: 465px;
		height: 105px;
		border-radius: 10px;
		margin: 70px 0 40px;
		padding: 10px 10px 15px 20px;
		.btn {
			text-align: center;
			line-height: 25px;
			margin-top: 20px;
			float: right;
			height: 30px;
			color: #fff;
			width: 105px;
			cursor: pointer;
		}
		p {
			font-size: 28px;
			line-height: 21px;
			color: #fff;
		}
		input {
			padding-left: 8px;
			margin: 20px 10px 0 0;
			font-size: 16px;
			color: #4f4f4f;
			line-height: 25px;
		}
	}
	.login {
		background-color: #e67624;
		.btn {
			background-color: #444;
		}
		input {
			width: 150px;
		}
		.word {
			display: none;
		}
		.show {
			display: inline-block;
		}
	}
	.mail {
		background-color: #01d4f3;
		margin-left: 55px;
		input {
			width: 265px;
		}
		.btn {
			background-color: #029bb1;
		}
	}
}

footer {
	clear: both;
	width: 1280px;
	margin: 0 auto;
	height: 240px;
	background-color: #292525;
	.footer {
		margin: 0 auto;
		width: 1000px;
		padding-top: 35px;
		.footer_container {
			display: inline-block;
			margin-right: 80px;
			.footer_container_title {
				font-size: 22px;
				line-height: 33px;
				color: #fff;
			}
			.footer_container_paragr {
				display: block;
				color: #818183;
				font-size: 13px;
				line-height: 22px;
				text-decoration: none;
			}
			.footer_container_paragr:hover {
				color: yellow;
			}
			.white {
				color: #fff;
			}
			.footer_logo {
				font-size: 118px;
				color: #818183;
			}
		}
	}
}